{% extends '@Articles/Default/base.html.twig' %}

{% block body %}
<div class="body-container">
    {% for toutLesArticles in volcan %}
        <h1 class="nom_volcan" id="{{ toutLesArticles.id }}">{{ toutLesArticles.nom }}</h1>
        <p class="animated bounceInLeft">{{ toutLesArticles.description }}</p>
        <img class="imgage-body" src="{{ toutLesArticles.images }}" alt="photo des différents Volcans">
    {% endfor %}

    <a href="#" id="return-to-top" class="scrollToTop">
        <i class="fas fa-4x fa-angle-up">
        </i>
    </a>

    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d118993.80838038717!2d55.676221982638005!3d-21.249427839209478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1526907869884" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>    

    <a href="{{ path('articles_homepage') }}">
        <button class="bouton-retour">Retour à l'accueil</button>
    </a>


</div>

{% endblock %}